@import '../../styles/theme.scss';

.tbox-inbox {
  width: 360px;
  .tbox-inbox-panel {
    display: flex;
    padding: 20px 10px;
    height: 48px;
    border-bottom: 1px solid $gray-4;
    align-items: center;
    .inbox-panel--tab {
      font-weight: bold;
      border-radius: 16px;
      padding: 2px 10px;
      color: $gray-7;
      &.active {
        color: $primary-color;
        background-color: $primary-alpha;
      }
      &:hover {
        color: $primary-color;
        cursor: pointer;
      }
    }
  }
  .tbox-inbox-content {
    height: 420px;
    .tbox-notification {
      padding: 15px 16px;
      border-bottom: 1px solid $gray-4;
      .notification-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $gray-6;
        .notification-not-read {
          width: 8px;
          height: 8px;
          border-radius: 4px;
          background-color: $primary-light;
          margin: 6px;
        }
        .notification-operate {
          display: none;
          .notification-operate--item {
            width: 20px;
            height: 20px;
            i {
              width: 16px;
              height: 16px;
              color: $gray-7;
            }
            + .notification-operate--item {
              margin-left: 10px;
            }
            &:hover {
              i {
                color: $primary-color;
              }
            }
          }
        }
      }
      .notification-body {
        color: $gray-7;
        P {
          margin-bottom: 4px;
        }
        .tbox-time_mavx {
          font-size: 12px;
        }
      }
      + .notification {
        &:last-child {
          border-bottom: none;
        }
      }
      &:hover {
        cursor: pointer;
        background-color: $gray-3;
        .notification-not-read {
          display: none;
        }
        .notification-operate {
          display: flex;
        }
      }
    }
  }
}

.inbox-button {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  line-height: 32px;
  text-align: center;
  margin: 0 8px;
  &:hover {
    cursor: pointer;
    background-color: $gray-3;
  }
}