@import '../../styles/theme.scss';

.tbox-icon {
  color: $icon-color;
  &.tbox-small {
    font-size: 14px;
    
  }
  &.tbox-medium {
    font-size: 16px;
  }
  &.tbox-large {
    font-size: 20px;
  }
  &[class^="ri-"], &[class*=" ri-"] {
    &::before {
      vertical-align: -1px;
    }
    &.tbox-medium {
      &::before {
        vertical-align: -2px;
      }
    }
    &.tbox-large {
      &::before {
        vertical-align: -2px;
      }
    }
  }
}