.tbox-index-page {
  .advance-search {
    padding: 10px;
    display: none;
    transition: width .3s ease-out!important;
    &.active {
      display: block;
    }
    margin-bottom: 20px;
  }
  .column-setting {
    width: auto;
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 32px;
    }
    &-overlay {
      .ant-popover-inner-content {
        padding: 0px;
        padding-bottom: 8px;
      }
    }
  }

  .column-setting-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 8px;
    max-height: 280px;
    overflow-x: hidden;

    &.column-setting-list-group {
      padding-top: 0;
    }

    &-title {
      color: @text-color-secondary;
      font-size: 12px;
      padding-left: 24px;
      margin-bottom: 6px;
      margin-top: 6px;
    }

    &-item {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 4px 16px;
      padding-left: 0px;
      &-option {
        display: none;
        float: right;
        cursor: pointer;
        > span {
          > span.anticon {
            color: @primary-color;
          }
        }
        > span + span {
          margin-left: 8px;
        }
      }
      &:hover {
        background-color: @item-active-bg;
        .column-setting-item-option {
          display: block;
        }
      }
    }
    .checkbox-wrapper {
      flex: 1;
      margin: 0;
      :last-child {
        margin-bottom: 0;
      }
    }
  }
}